<div>
  <div class="user">
    <img src="assets/images/user.png" alt="user">
    <span> {{ name }} </span>
  </div>

  <div class="menu">
    <h2>Menu</h2>
    <ul>
      <li>
        <img [src]="feedIcon" alt="">
        <span>Feed</span>
      </li>
      <li>
        <img [src]="followIcon" alt="">
        <span>Seguidores</span>
      </li>
      <li>
        <img [src]="searchIcon" alt="">
        <span>Explorar</span>
      </li>
      <li>
        <img [src]="statisticsIcon" alt="">
        <span>Estastísticas</span>
      </li>
      <li>
        <img [src]="helpIcon" alt="">
        <span>Ajuda</span>
      </li>
    </ul>

  </div>
</div>