@import "variables";

:host {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;

  header {
    background-color: $color-background;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }

  .home {
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
  }

  // @media screen and (max-width: 800px) {
  //   .home {
  //     display: grid;
  //     grid-template-columns: 1fr 1fr;
  //   }
  // }
}
