@import "variables";

@media screen and (max-width: 1072px) {
  :host {
    .posts {
      margin-left: 10px;
      margin-right: 10px;
    }

    .imgNews {
      display: none;
    }
  }
}

@media screen and (max-width: 800px) {
  :host {
    .posts {
      margin-left: 0px;
      margin-right: 0px;
    }
  }
}
