/* You can add global styles to this file, and also import other style files */
@import "variables.scss";

body {
  background-image: linear-gradient(
    180deg,
    #f26c6c 0%,
    #f0e481 67%,
    #ffe53b 98%
  );
  background-size: 200% 200%;

  height: 100vh;
  max-height: 100vh;
  // overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  color: #add8e6;
}

.backgrondBody {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  width: 60%;
  padding: 8px 10px;
  white-space: nowrap;
  border: none;
  color: $color-nameItems;
  border-radius: 10px;
  background-color: $color-backgroundItems;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.4);
  transition: background-color 0.3s ease;
  cursor: pointer;

  &:hover {
    color: $color-nameItems;
    background-color: $color-hovers;
  }
}

.titles {
  font-size: 0.8rem;
  font-weight: 800;
  color: $color-titles;
}

.subtitles {
  font-size: 0.75rem;
  font-weight: 500;
  color: $color-subtitles;
}
