// --> Cores
$color-titles: #222;
$color-subtitles: #5e5e5e;
$color-nameItems: #fff;

$color-items: #dadadade;
$color-background: #f6f4f2;
$color-backgroundItems: #444;
$color-hovers: #cc5657;
